aliyun-python-sdk==2.2.0
aliyun-python-sdk-cms==6.0.13
aliyun-python-sdk-core==2.13.4
aliyun-python-sdk-core-v3==2.13.3
aliyun-python-sdk-ecs==4.16.5
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
Django==2.2.20
idna==2.8
Jinja2==2.10.1
jmespath==0.9.4
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.3
Pillow==6.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.2
